/* NavBar Styling */
.ui.menu:first-child {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: rgba(248, 246, 246, 0.55) 2px 8px 20px 2px;
    position: fixed;
    top: 0;
    z-index: +2;
    /* background-color: transparent; */
    font-family: 'Balsamiq Sans', cursive;
    font-size: medium;
}

/* Jumbotron/Message styling */
.ui.message.message-container {
    text-align: center;
    padding: 50px;
    box-shadow: 0;
    margin: 0;
}
/* UserForm styling */
.form-container{
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
}
/* UserForm alert message */
.ui.alertMssg {
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
}

.huge.message{
  background: none;
  border: none;
}