@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
  .green {
    background: green;
}
  .card:hover {
      animation: bounce 1s;
      border: 3px groove #000000;
      color: #ffffff;
      background: rgb(7, 7, 7);
      box-shadow: rgba(248, 246, 246, 0.55) 2px 8px 20px 2px;
}

.card {
    height: 100%;
    width: 100%;
    margin: 15px;
    padding: 5px;
    border-style: double;
    border: 3px solid #000000;
    box-shadow: rgba(0, 0, 0, 0.55) 2px 8px 20px 2px;
}

h2{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 15px;
  margin-bottom: 15px ;
}

/* img{
  width: 416px;
  height: 416px;
} */